* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffdd55;
  font-size: 19px;
  font-weight: 500;
  color: #1a1a1a;
  font-family: "Roboto Mono", monospace;
}

/* Not sure if this is correct. Fix this later. */
.container {
  width: 100%;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 16%;
}

.asterisk {
  font-size: 53px;
  color: #ff3e56;
  line-height: 0.3;
  font-family: "Pacifico", cursive;
  padding-top: 40px;
  display: inline-block;
  /* display: inline; */
}

.main-header {
  padding: 30px 60px;
  margin-bottom: 25px;
  /* display: inline-block; */
  /* display: inline; */
}

nav {
  font-size: 29px;
  font-family: "Gloria Hallelujah", cursive;
  display: inline-block;
  /* display: inline; */
}

nav a:link {
  /* display: inline-block; */
  margin: 50px;
}

nav a:link:first-child {
  /* display: inline-block; */
  margin-left: 550px;
}

a:link,
a:visited {
  color: #1a1a1a;
  text-decoration: none;
}

a:link:first-child,
a:visited:first-child {
  color: #ff3e56;
  text-decoration: none;
}

a:hover {
  color: #ff3e56;
}

h2 {
  font-size: 43px;
  font-weight: 500;
  color: #ff3e56;
  line-height: 1.17;
  font-family: "Gloria Hallelujah", cursive;
}

.intro {
  background-image: url("https://lh3.googleusercontent.com/pTG8Is7hCs5rKojb6JdCGZILiAi3TRMGKXE3zjlswNNZJmCmSEQINuKjxLwtr8umnj4bqk4aFIL9r68f628Jr_PytXTd32MEkjhH2jLAI5hWsvGJH_GMCxW5PFDPDmAXLiJ364-S=w2400");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 340px;
}

.intro-last-line {
  margin-bottom: 40px;
}

button {
  background-color: #ff3e56;
  border: none;
  padding: 20px 24px;
  border-radius: 30px;
  display: inline-block;
  font-size: 17.3px;
  font-weight: 600;
  color: white;
  font-family: "Montserrat", sans-serif;
  display: block;
  margin: 0 auto;
}

.unofficial .asterisk {
  line-height: 0;
  letter-spacing: 0;
  padding-top: 25px;
}

.unofficial-blurb {
  letter-spacing: 3px;
  /* line-height: 0.6; */
  font-family: "Pacifico", cursive;
  display: inline-block;
}

.menu {
  background-color: white;
  padding: 50px 0;
}

h3 {
  font-size: 43px;
  font-weight: 500;
  line-height: 1.1;
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  /* padding-top: 40px; */
  margin-bottom: 20px;
}

.menu dt {
  font-size: 27px;
  line-height: 1.6;
  font-family: "Gloria Hallelujah", cursive;
  margin-left: 500px;
}

.menu dd {
  margin-left: 500px;
}

.food-images {
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 90px;
  background-color: #fbbf3a;
}

.food-images img {
  width: 30%;
}

h4 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 1.6;
  font-family: "Pacifico", cursive;
}

footer {
  background-color: #ff3e56;
  font-size: 15px;
  color: white;
  font-weight: 300;
  padding: 40px 80px;
}

.hours {
  font-weight: 700;
}
