* {
  padding: 0;
  margin: 0;
}

body {
  /* background-image: url("https://lh3.googleusercontent.com/pTG8Is7hCs5rKojb6JdCGZILiAi3TRMGKXE3zjlswNNZJmCmSEQINuKjxLwtr8umnj4bqk4aFIL9r68f628Jr_PytXTd32MEkjhH2jLAI5hWsvGJH_GMCxW5PFDPDmAXLiJ364-S=w2400");
  background-repeat: no-repeat; */
  background-color: #ffdd55;
}

/* .main-header {

}

.intro {

} */

h2,
h3,
nav {
  font-family: "Gloria Hallelujah", cursive;
}

h4 {
  font-family: "Pacifico", cursive;
}

.menu,
.food-images,
footer {
  font-family: "Roboto Mono", monospace;
}

.menu {
  background-color: white;
}

.food-images {
  background-color: #fbbf3a;
}

footer {
  background-color: #ff3e56;
}

button {
  font-family: "Montserrat", sans-serif;
}
